In [1]:
fruit = 'Pineapple'

print(fruit.index('e'))

3

In [4]:
[i for i in range(len(fruit)) if fruit[i]=='e']

[3, 8]

In [6]:
email = 'sohel@gmail.com'
# o/p = '*****@gmail.com'

index = email.index('@')
output = '*' * index + email[index:]
print(output)

*****@gmail.com

In [7]:
"{:>10s}".format('$120.5')

'    $120.5'

In [2]:
a = 20
b = 0

try:
    print(f"a/b = {a/b}")
except:
    print("You cannot provide denominator as 0")

You cannot provide denominator as 0

## How many 1's are there between 1 and 100 inclusively?

In [5]:
total = 0
for i in range(1, 100+1):
    str_i = str(i)
    total += str_i.count('1')
    
print(total)

21

In [6]:
[True] * 5

[True, True, True, True, True]

In [7]:
'a' * 5

'aaaaa'